# Ignore environment variable files
.env

# Ignore node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor/project files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore build directories
dist/
build/
